
/* rain 배경화면 */
.rainbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Adjust the width as needed */
    height: 100vh; /* Adjust the height as needed */
    background-size: cover; 
    z-index: -1; 
    background-image: url(/img/rainbowv.png);
  }

/* 움직이는 비 */
  .raindrop {
    animation: raindrops 4s infinite;
    position: absolute;
    background-color: #5ff687;
    width: 1vw;
    height: 20vh;
    background-size: cover;
    /* background-image: url(/img/rain.png); */
}

  @keyframes raindrops {
    0% {
        transform: translate(100vw, -100vh) rotate(30deg);
    }
      100% {
        transform: translate(-100vw, 100vh) rotate(30deg);
    }
    }