/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    :focus { outline: none !important; } /* 모든 항목 focus시 아웃라인 제거 */
}

body {
    height: 100vh;
    position: relative;
}

.hidden {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 200px;
}

#login-form {
    border: 1px solid #93a5f4;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    background: linear-gradient(to left, #93a5f4 20%, transparent 20%);
}

input {
    border-radius: 100px;
    width: 151px;
    height: 12px;
    padding: 0px 20px;
    border: none;   
    background: none;

}
.searchbtn{
    background: none;
    border: 0;
    margin: 0 0 0 20px;
    color: #fff;


}

#modal-link {
    background-color: #93a5f4;
    border-radius: 100px;
    border: 1px solid #93a5f4;
    width: 200px;
    height: 30px;
    color: white;
}


#quotes {
    font-size: 32px;
}
#modal {
    background-color: #5ff687;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}



/* sunny 배경화면 */
.sunnybackground {
    background-image: url(/img/sunny.png);
        position: absolute;
        width: 934px;
        height: 934px;
        position: absolute;
        background-size: contain; 
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
}

/* 스탬프 */
.footprints{
    z-index: -2;
}
.snow {
    cursor: pointer;
}

.snow .footprints {
    position: fixed;
    color: var(--primary);
    font-family: "Noto Sans SC"
}

.snow .footprints div {
    position: fixed;
    font-size: 10rem;
    text-shadow: 2px 4px 6px rgba(255,255,255,.5),-4px -4px 8px rgba(214,214,214,.8);
}