*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 50px;
  display: flex;
  flex-direction: column;
  background-color:gray;
  color: aliceblue;
  align-items: center;
  justify-content: center;  
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid gray;
  }

.btn {
  display: flex;
  justify-content: end;
  background-color:beige
}

button {
  margin: 2px;
}