


  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    width: 380px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid ;
    background-color: rgba(0, 0, 0, 0.386);
}

input[type="text"] {
    width: 340px;
    height: 90px;
    margin-bottom: 12px;
    outline-style: none;
    border-radius: 10px;
    padding: 16px;
    background-color: rgba(239, 243, 241, 0.92);
    box-shadow: 1px 0px 1px 0px inset,
    -1px 0px 1px 0px inset;
}

.container {
    display: flex;
    width: 352px;
}

.clear {
    flex-grow: 2;
}

.merge {
    flex-grow: 2;
}

/* 버튼의 크기를 이렇게 정한이유는 .container 한줄의 너비 = 버튼4개의 너비를 같게 하여 grow속성을 간단하게 쓸수있게함. 
또한 margin을 줌으로써 한줄당 32px가 추가되므로 .container 의 넓이를 320px에서 32px를 더함*/
button {
    width: 80px;
    height: 80px;
    border-radius: 35px;
    margin: 4px;
    box-shadow: 0px 8px 4px 2px;
    border: none;
    font-family: 'Roboto Mono', monospace;
}

button:active {
    box-shadow : 0px 2px 2px 2px, 
    2px 3px 8px 1px rgba(0, 0, 0, 0.795) inset ,
    -2px 1px 8px 1px rgba(0, 0, 0, 0.145)  inset;


}




    .clear , .merge {
        background-color: rgb(222, 114, 75); 
    }

    .num , .dot {
        background-color: rgba(222, 168, 98);
    }

    .operator {
        background-color: rgba(54, 140, 177);
    }
    

